body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6610f2;
    background-image: linear-gradient(to left, black, white);

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box{
    margin: 20px 0;
    padding: 2rem ;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0)
}
.render{
    width: 100%;
}
.input{
    width: 13rem;
    padding: 8px;
    border-radius: 10px;
    border: none;
}
.search-btn{
    padding: 8px 12px;
    border-radius: 14px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    background-color: cadetblue;
}
.bio p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
}
.image-center{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.image-center img{
    border-radius: 76px;
    height: 125px;
    width: 134px;
    object-fit: cover;
}
.details{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.flex{
    display: flex;
    justify-content: space-between;
}
